
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,500&family=Roboto:wght@400;700&display=swap');
*{
  box-sizing: border-box;
}
body{
  background-color: #111;
  color: #fff;
  margin: 0;
  font-family: 'Roboto', sans-serif;

}